.increamenting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100vw;
  height: 100vh;
  background-color: steelblue;
  .Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(3),
    :nth-child(1) {
      color: #fff;
    }
  }
}
